@media (min-width: 600px) {
  .map {
    background-color: #CCCCCC;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    margin: 50px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .map {
    background-color: #CCCCCC;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    width: 100%;
  }
}
